# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exc
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Log files
*.log

# Linux files
*~

# Image files
*.img
*.iso
iso/*
*.vdi

